@import '../../styles/variables.scss';

.container {
    position: relative;
}

.input {
    width: 328px;
    height: 54px;
    outline: none;
    border: 1px solid #D0CFCF;
    border-radius: 4px;
    background-color: $background-color;
    padding-left: 16px;
    padding-right: 16px;

    @media (min-width: $M) {
        display: block;
        width: 380px;
    }
}

.inputError {
    border: 1px solid $error-color
}

.label {
    position: absolute;
    color: #7E7E7E;
    bottom: 14px;
    left: 16px;
    transition: transform 0.1s linear, font-size 0.1s linear
}

.labelUp {
    font-size: 12px;
    transform: translateY(-28px);
    z-index: 5;
    background-color: $background-color;
    padding-right: 1px;
    padding-right: 1px;
}

.labelError {
    color: $error-color;
}

.errorText {
    position: absolute;
    top: 50px;
    left: 16px;
    color: $error-color;
    font-size: 12px;
}

.errorTextPhone {
    top: 66px;
}
