@import '../../styles/variables.scss';

.container {
    margin-top: 140px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 100px;
    color: $black87-color;
    text-align: center;
}

.formBlock {
    margin-top: 50px;

    @media (min-width: $M) {
        width: 380px;
        margin-left: auto;
        margin-right: auto;
    }
}

.inputMargin {
    margin-top: 50px;
}

.phoneTemplate {
    font-size: 12px;
    line-height: 14px;
    color: #7E7E7E;
    margin-left: 16px;
    margin-top: 4px;
    text-align: start;
}

.positionSelector {
    margin-top: 25px;
    text-align: start;
}

.radioButtonsBlock {
    position: relative;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
