@import '../../styles/variables.scss';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    border-radius: 80px;
    cursor: pointer;
}

.yellow {
    color: $black87-color;
    background-color: $primary-color;

    &:hover {
        background-color: $hover-color;
    }
}

.grey {
    color: rgba(255, 255, 255, 0.87);
    background-color: $disabled-color;
}
