@import '../../styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    width: 328px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;

    @media (min-width: $M) {
        width: 344px;
    }

    @media (min-width: $L) {
        width: 282px;
    }

    @media (min-width: $LG) {
        width: 370px;
    }
}

.image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-self: center;
}

.userName {
    margin-top: 20px;
    max-height: 26px;
    white-space: nowrap;
}

.userData {
    margin-top: 20px;
}

.handleOverflow {
    text-overflow: ellipsis;
    overflow: hidden;
}

.email {
    cursor: pointer;
}

.tooltip {
    font-size: 16px !important;
    padding: 3px 16px !important;
}
