@import '../../styles/variables.scss';

.container {
    margin-top: 11px
}

.positionItem {
    position: relative;
    margin-bottom: 7px;
}

.positionLabel {
    margin-left: 12px;
    cursor: pointer;
}

.positionInput {
    position: relative;
    appearance: none;

    border-radius: 50%;
    width: 20px;
    height: 20px;

    border: 1px solid rgba(208, 207, 207, 1);

    top: 4px;
    margin-left: 0;
    margin-right: 0;
}

.positionInput:checked {
    border: 1px solid rgba(0, 189, 211, 1);
}

.positionInputChecked {
    position: absolute;

    width: 10px;
    height: 10px;

    border-radius: 50%;
    background-color: rgba(0, 189, 211, 1);

    top: 12px;
    left: 5px;
}

.errorText {
    position: absolute;
    top: 140px;
    left: 16px;
    color: $error-color;
    font-size: 12px;
}
