@import '../../styles/variables.scss';

.container {
    margin-top: 140px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 100px;
    color: $black87-color;
    text-align: center;
}

.image {
    margin-top: 50px;

    @media (min-width: $M) {
        width: 380px;
        margin-left: auto;
        margin-right: auto;
    }
}
