// media breakpoints
$S: 360px;
$M: 768px;
$L: 1024px;
$LG: 1170px;

$primary-color: #F4E041;
$secondary-color: #00BDD3;
$background-color: #F8F8F8;
$hover-color: #FFE302;
$disabled-color: #B4B4B4;
$black87-color: rgba(0, 0, 0, 0.87);
$error-color: #CB3D40;
