@import '../../styles/variables.scss';

.container {
    margin-top: 50px;
    position: relative;
}

.uploadInputElement {
    display: none
}

.uploadForm {
    position: relative;
    width: 100%;
    height: 54px;
}

.uploadButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 83px;
    height: 54px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid $black87-color;
    cursor: pointer;
}

.uploadButtonError {
    border: 1px solid $error-color;
}

.uploadField {
    display: inline-flex;
    align-items: center;
    height: 54px;
    width: 244px;
    padding-left: 16px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid #D0CFCF;
    border-right: 1px solid #D0CFCF;
    border-bottom: 1px solid #D0CFCF;
    color: #7E7E7E;

    @media (min-width: $M) {
        width: 296px;
    }
}

.uploadFieldError {
    border-top: 1px solid $error-color;
    border-right: 1px solid $error-color;
    border-bottom: 1px solid $error-color;
}

.fileSelected {
    color: $black87-color;
}

.errorText {
    position: absolute;
    top: 50px;
    left: 16px;
    color: $error-color;
    font-size: 12px;
}
