@import '../../styles/variables.scss';

.container {
    width: $S;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: $M) {
        width: $M;
    }

    @media (min-width: $L) {
        width: $L;
    }

    @media (min-width: $LG) {
        width: $LG;
    }
}
