@import '../../styles/variables.scss';

.container {
    @media (min-width: $LG) {
        background-color: white;
    }
}

.innerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    width: $S;
    height: 60px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $M) {
        width: $M;
        padding-left: 32px;
        padding-right: 32px;    
    }

    @media (min-width: $L) {
        width: $L;
        padding-left: 60px;
        padding-right: 60px;    
    }

    @media (min-width: $LG) {
        width: $LG;
        padding-left: 0;
        padding-right: 0;    
    }
}

.buttonsContainer {
    display: flex;
    width: 210px;
    align-items: center;
    justify-content: space-between;
}
