@import '../../styles/variables.scss';

.container {
    position: relative;
}

.image {
    width: 100%;
    height: 500px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/pexels-alexandr-podvalny-1227513.webp);
    background-size: 100% 100%;
    @media (min-width: $L) {
        height: 650px;
    }
}

.imageText {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 328px;
    color: white;
    text-align: center;
    font-stretch: semi-condensed;

    @media (min-width: $M) {
        top: 89px;
        width: 380px;
    }

    @media (min-width: $L) {
        top: 164px;
        width: 380px;
    }
}

.description {
    margin-top: 21px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}
