@import '../../styles/variables.scss';

.container {
    margin-top: 140px;
    margin-left: 16px;
    margin-right: 16px;
    color: $black87-color;
    text-align: center;

    @media (min-width: $M) {
        margin-left: 32px;
        margin-right: 32px;
    }

    @media (min-width: $L) {
        margin-left: 60px;
        margin-right: 60px;
    }

    @media (min-width: $LG) {
        margin-left: 0;
        margin-right: 0;
    }
}

.usersBlock {
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    column-gap: 0;
    row-gap: 20px;

    @media (min-width: $M) {
        grid-template-columns: 344px 344px;
        grid-template-rows: auto;
        column-gap: 16px;
        row-gap: 16px;
    }

    @media (min-width: $L) {
        grid-template-columns: 282px 282px 282px;
        grid-template-rows: auto;
        column-gap: 29px;
        row-gap: 29px;
    }

    @media (min-width: $LG) {
        grid-template-columns: 370px 370px 370px;
        grid-template-rows: auto;
        column-gap: 29px;
        row-gap: 29px;
    }
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    @media (min-width: $M) {
        margin-top: 50px;
    }
}
