@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body, h1 {
    font-family: Nunito, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 26px;
    background-color: #F8F8F8;
}

h1 {
    font-size: 39px;
    line-height: 40px;
}

* {
    box-sizing: border-box;
}
